table {
  table-layout: fixed;
  width:70%;
  /* margin-top: 20px; */
  /* margin-left: 3px; */
}

td {
  height: 80px;
  /* text-align: center; */
}

#title {
  height: 75px;
}

#no-border-left-top-bottom {
  border-left: 0px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}
#no-border-left-top-right {
  border-left: 0px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
}

.main-table, .main-td {
  border: 2px solid black;
  padding: 0;
  margin: 0;
}